<!DOCTYPE html>
<html lang="en" id="navigatorType" class="no-js ">

<head>
    <!-- no Google Analytics or Tag added -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes, minimum-scale=1">
    <link rel="preconnect" href="https://static.pbcdn.in/" crossorigin>
    <link rel="dns-prefetch" href="https://static.pbcdn.in/">
    <title>Health Insurance: Compare & Buy Medical Insurance Plans</title>
    <!-- for SEO optimization -->
    <meta name="keywords" content="Health Insurance, Online Health Policy, Buy Medical Plans, Medical Insurance India, Medical Policies, Compare Health Insurance, Health Insurance Policies, Medical Insurance Policies, Compare Health Insurance 2021, Best Health Insurance Plans, Health Insurance in India" />
	<meta name="description" content="Health Insurance: Buy Health Insurance plans in India from top medical insurance companies starting @₹7/day. Get free health insurance policy quotes online." />
    <!-- no manager for social media added -->
    <!-- no script for Google Analytics or Tag added -->
    
    <script >bazadebezolkohpepadr="2011608477"</script>
    <script type="text/javascript" src="https://www.policybazaar.com/akam/13/77e6b5ae"  defer></script>
</head>

<body>
    <!-- no Google Analytics or Tag added -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" >
    <!-- adding stylesheets -->
    <!-- <link rel="stylesheet" rel="preload" as="style" href="/css/style.css" onload="this.onload = null; this.rel = 'stylesheet'">
    <link rel="stylesheet" rel="preload" as="style" href="/css/style_newsticky.css" onload="this.onload = null; this.rel = 'stylesheet'"> -->
    <link rel="stylesheet" rel="preload" as="style" href="https://static.pbcdn.in/cdn/css/style.min_common_version1.1.css?v=566" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" rel="preload" as="style" href="https://static.pbcdn.in/cdn/css/sass/newsticky.css?v=566" onload="this.onload=null;this.rel='stylesheet'">

    <!-- Navigation -->
    <div class="policywarp">
        <!-- New single menu -->
        <div class="pb-overlay"></div> <!-- for modal dialogues or pop-up messages -->
        
        <nav itemscope="" itemtype="http://schema.org/SiteNavigationElement" >
            <div class="pb-navbar-wrapper ">

                <!-- top quick-connect nav -->
                <div class="pb-quick-connect"> <!-- pb-quick-connect not added --> </div>
                
                <!-- navigation bar -->
                <div class="pb-navbar">
                    <div class="pb-container flexgrid ">

                        <div class="policybazaar-logo">
                            <span class="btn-toggle"></span>   
                            
                            <span class="pb-logo" title="poliybazaar logo" style="display: none;"></span><img src="/images/shieldwise-full.png" alt="shield-logo" width="150" height="55">
                           
                        </div><!-- policybazaar-logo -->

                        <div class="user_signin ">
                            <span rel="nofollow" class="mobsignin">Sign In</span>
                            <span rel="nofollow" class="closebox hide"></span>                                
                        </div><!-- user_signin -->

                        <!-- add navigation menus -->

                    </div><!-- container -->
                </div><!-- pb-navbar -->

            </div><!-- pb-navbar-wrapper ends here -->
        </nav>
        <!-- New single menu -->
    </div><!--policywrap-->
    
    <div id="policybazaar">

        <script>
            setTimeout(function(){  
            $(document).ready(function() {
              
            $('.insurer-by-language-scroll').slick({
                    dots: false,
                    infinite: false,
                    speed: 300,
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    arrows: true,
                    //initialSlide:2,
                    //centerMode: true,
                    responsive: [
                      {
                        breakpoint: 800,
                        settings: {
                          slidesToShow: 3,
                          slidesToScroll: 1,
                          infinite: true,
                          dots: false
                        }
                      },
                      {
                        breakpoint: 769,
                        settings: "unslick"
                      }
                    ]
                  });
            $('[id^=lanbox_]').click(function(){
                var id =  $(this).attr('id');
                var url_location = $('#anchortext_'+id).attr('href');
                window.open(url_location, '_self');
            })
            
            });
            },2000);
        </script>
            
        <style>
            .skeletonStyle{position:relative;background-image:none !important;background-color:#efefef !important;overflow:hidden;border-radius:4px}.skeleton::after{top:0;display:block;content:"";position:absolute;width:100%;height:100%;transform:translateX(-100%);background:-webkit-gradient(linear,left top,right top,from(transparent),color-stop(rgba(255,255,255,0.5)),to(transparent));background:linear-gradient(90deg,transparent,rgba(255,255,255,0.5),transparent);animation:loading .7s infinite}@keyframes loading{100%{transform:translateX(100%)}}
            .user_details .quotesBoxWrapper .form-field-data.skeleton{height: 79px}
            .user_details .quotesBoxWrapper .heading-main.skeleton{height: 56px}
            .user_details .quotesBoxWrapper .terms_text.skeleton{height: 36px}
            .user_details .quotesBoxWrapper .label.skeleton.skeletonStyle{height: 29px}
            .tabsWrapper  .tabs.health_tab.skeleton.skeletonStyle {height: 37px;border-bottom:none}
            .tabsWrapper .tabsDetails.top_plans .card.skeleton.skeletonStyle {height: 249px}
        </style>
            
        <link rel="stylesheet" type="text/css" href="https://static.pbcdn.in/cdn/css/articles/health/style_health_v10.css?v=571">
            
        <script src="https://static.pbcdn.in/cdn/js/jquery-3.6.0.min.js"></script>
        <script defer="" type="text/javascript" src="https://static.pbcdn.in/cdn/js/url_config.js?v=571"></script>
        <script defer="" type="text/javascript" src="https://static.pbcdn.in/cdn/js/bu/custom-health-bu-v10.js?v=571"></script>
        <script defer="" type="text/javascript" src="https://static.pbcdn.in/cdn/js/article/health/custom.js?v=571"></script>
        <script>
            $(document).ready(function () {
                jquery_ui_path = 'https://static.pbcdn.in/cdn/js/jquery-ui.1.12.1.js';
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    isMobile = true;
                }
                var formStep = 1;
                var formStep = 0;
                gaEvent('H_Form_Step'+formStep,'FormStep'+formStep+'Viewed','',true,'');
                fncSetFormValue();//Set default value
            setTimeout(function() {
                
                fncGetPopularCity();
                objHeadingMain = $('.floatingLeadForm .heading-main');
                objOverlayDiv = $(parentId+'.close-form-box');
            }, 1000);
            //fncGetHealthPlansBU();
            fncUpdateCTAText();
        });
        </script>
        
        <!-- Top Banner -->
        
        <div class="health_v10 healthCj_form" id="healthStepCJ" data-supplierid="0" data-groupid="2" data-item-title="Health Insurance: Compare &amp; Buy Medical Insurance Plans @ ₹7/Day*">
            
            <div class="grid">
                <div class="health-insurance-bu">
                    <div class="health-insurance-bu-left">
                        <div class="topContentBox">
                            <!-- <h1 itemprop="name" id="what-is-health-insurance">Health Insurance</h1>
                            <p>Health Insurance is a type of insurance that covers the medical expenses <span class="extraText showcontent">of the insured due to an illness or accident in exchange for a premium amount. It enables the insurance company to provide medical coverage for hospitalization expenses, day care procedures, critical illnesses, etc. A health plan also offers multiple benefits, including cashless hospitalization and free medical check-ups.</span></p> -->
                            <h1 itemprop="name" id="what-is-health-insurance">Loading Heading...</h1>
                            <p id="health-insurance-description">Loading Description...</p>
                            <p class="none"><a class="read_more_art" style="display: none;">Read More</a></p>
                        </div>
                    </div>

                    <div class="health-insurance-bu-extra genric">
                        <div class="heading">Benefits of buying a plan with Shieldwise</div>
                         <ul>
                            <li class="pointer first-pointer">
                                <span class="pointer-icon update blue"></span>
                                <span class="multiline">Customised Insurance Plans</span>
                            </li>
                            <li class="pointer">
                                <span class="pointer-icon update rm"></span>
                                <span class="multiline">Instant Policy Issuance</span>
                            </li>
                            <li class="pointer">
                                <span class="pointer-icon update ca"></span>
                                <span class="multiline">Dedicated Relationship Manager</span>
                            </li>
                            <li class="pointer">
                                <span class="pointer-icon update ip"></span>
                                <span class="multiline">Claims Support</span>
                            </li>
                         </ul>
                        <!-- <div class="health-header-graphic"></div> -->
                        <div class="tnc">
                            <p>*All savings are provided by the insurer as per IRDAI approved insurance plan. Standard T&amp;C apply.</p>        
                            <p>*Tax benefit subject to changes in taxation laws. Standard T&amp;C apply</p>
                        </div>
                    </div>
        
                    <div class="health-insurance-bu-right showForm" id="health_bu">
	    
	
                        <div class="orderChange tag"><div class="common_heading graphic"><div class="back-step icons-bu"> Back</div><div class="text">
                        All health plans cover Covid-19 treatment	</div></div>
                                <div class="wizard">
                                <div class="wizard-bar" style="width: 0;" data-wizard-bar></div>
                                <ul class="wizard-list">
                                    <li class="wizard-item step_1 active" data-wizard-item data-tab="step_1">1</li>
                                    <li class="wizard-item step_2" data-wizard-item data-tab="step_2" data-members="">2</li>
                                    <li class="wizard-item step_3" data-wizard-item data-tab="step_3">3</li>
                                    <li class="wizard-item step_4" data-wizard-item data-tab="step_4">4</li>
                                </ul>
                            </div>
                            </div>
                        <div class="health-insurance-step-1">
                            <p>Who would you like to insure?</p>
                    
                            <div class="member-for-insurance">
                                <li class="form-group">
                                    <input type="checkbox" id="self" name="profile" value="Self">
                                    <label data-id="self"><span class="chkbox"></span>Self</label>
                                </li>
                                <li class="form-group">
                                    <input type="checkbox" id="spouse" name="profile" value="Spouse">
                                    <label data-id="spouse"><span class="chkbox"></span>Spouse</label>
                                </li>
                                <li class="form-group">
                                    <input type="checkbox" id="son" name="profile" value="Son">
                                    <label data-id="son"><span class="chkbox"></span>Son<i></i></label>
                                    <div class="addmore">
                                        <span class="minus"></span>
                                        <input type="text" value="1" readonly />
                                        <span class="plus"></span>
                                    </div>
                                </li>
                                <li class="form-group">
                                    <input type="checkbox" id="daughter" name="profile" value="Daughter">
                                    <label data-id="daughter"><span class="chkbox"></span>Daughter <i></i></label>
                                    <div class="addmore">
                                        <span class="minus"></span>
                                        <input type="text" value="1" readonly />
                                        <span class="plus"></span>
                                    </div>
                                </li>
                                <li class="form-group">
                                    <input type="checkbox" id="father" name="profile" value="Father">
                                    <label data-id="father"><span class="chkbox"></span>Father</label>
                                </li>
                                <li class="form-group">
                                    <input type="checkbox" id="mother"  name="profile" value="Mother">
                                    <label data-id="mother"><span class="chkbox"></span>Mother</label>
                                </li>
                                <li class="form-group hideBox hide">
                                    <input type="checkbox" id="grand-father"  name="profile" value="Grand Father">
                                    <label data-id="grand-father"><span class="chkbox"></span>Grand Father</label>
                                </li>
                                <li class="form-group hideBox hide">
                                    <input type="checkbox" id="grand-mother"  name="profile" value="Grand Mother">
                                    <label data-id="grand-mother"><span class="chkbox"></span>Grand Mother</label>
                                </li>
                                <li class="form-group hideBox hide">
                                    <input type="checkbox" id="father-in-law" name="profile" value="Father-In-Law">
                                    <label data-id="father-in-law"><span class="chkbox"></span>Father-in-law</label>
                                </li>
                                <li class="form-group hideBox hide">
                                    <input type="checkbox" id="mother-in-law"  name="profile" value="Mother-In-Law">
                                    <label data-id="mother-in-law"><span class="chkbox"></span>Mother-in-law</label>
                                </li>
                                <li class="form-group more">
                                    <span class="plus gray"></span>
                                    <label for="more-member">More Member</label>
                                </li>
                            </div>
                            <div class="errMember" id="errorHighlight"></div>
                            <div class="button-wrapper">
                            <span class="back-button hide">Previous step</span>
                            <div class="button btnHealthStep1" data-step="1">Continue</div>
                            </div>
                            
                            <span class="termCondition">
                            By clicking on “Continue”, you agree to our <a href="https://www.policybazaar.com/legal-and-admin-policies/" target="_blank">Privacy Policy</a> and <a href="https://www.policybazaar.com/legal-and-admin-policies/#termsofuse" target="_blank">Terms of use</a>                </span>
                        </div>
                        
                        <div class="health-insurance-step-2 hide" id="step_2">
                            
                            <ul class="member-info member-age-box">
                                <!--<li class="fieldWrapper">
                                        <div id="name_feild" class="formInput">
                                        <select  class="fullWidht" ></select>
                                        <label class="feildLable" >Your age</label>
                                        </div>
                                        <div class="err"></div>
                                </li>
                                <li class="fieldWrapper" id="person_name">
                                        <div id="name_feild" class="formInput">
                                            <select  class="fullWidht" >
                                            </select>
                                            <label class="feildLable" >Spouse age</label>
                                        </div>
                                        <div class="err"></div>
                                </li>
                                <li class="fieldWrapper" id="person_name">
                                        <div id="name_feild" class="formInput">
                                            <select  class="fullWidht" >
                                            </select>
                                            <label class="feildLable" >First son’s age</label>
                                        </div>
                                        <div class="err"></div>
                                </li>-->
                            </ul>
                            <div class="errMemberAge"></div>
                            <div class="button-wrapper">
                                <span class="back-button">Previous step</span>
                                <div class="button btnHealthStep2" data-step="2" data-step-button="2">Continue</div>
                            </div>
                            
                        </div>
                    
                        <div class="health-insurance-step-3 hide" id="step_3">
                            
                            <ul class="country-selection">
                    
                    
                                <li class="pos-rel fieldWrapper filled">
                                    <div class="closeWrap">
                                        <div class="field formInput">
                                            
                                            <input type="text" id="healthCityPincode"  class="input_box healthCityPincode ui-autocomplete-input fullWidht" data-cityid="" data-pincode="0" autocomplete="off">
                                            <label class="feildLable" >Enter City Name or Pincode</label>
                                            <ul class="popularCity" onclick="fncSelectPopularCity()"></ul>
                                        </div>
                                        <span class="cityclose"></span>
                                    </div>
                                    
                                    <div class="err"></div>
                                </li>
                    
                    
                                
                                
                            </ul>
                            <!--<p>Popular cities</p>
                            <ul class="country-name dis_popular_city">
                                <li class="form-group country">
                                    <input type="checkbox" id="c1">
                                    <label for="c1">Spouse</label>
                                </li>
                            </ul>-->
                            <p class="label city">Popular Cities</p>
                            <div class="radio_pills dis_popular_city"></div>
                            
                            <div class="button-wrapper">
                                <span class="back-button">Previous step</span>
                                <div class="button btnHealthStep3" data-step="3" data-step-button="3" id="btnHealthStep3">Continue</div>
                            </div>
                            
                           
                        </div>
                    
                    
                        <div class="health-insurance-step-4 hide" id="step_4">
                            <div class="gender-selection">
                                <div class="form-gender gender selected">
                                    <input type="radio" value="1" name="radio-group-gender" checked="checked" class="radio-group-gender" id="male">
                                    <label for="male"><span class="male"></span>Male</label>
                                </div>
                                <div class="form-gender gender">
                                    <input type="radio" value="2" name="radio-group-gender" class="radio-group-gender" id="female">
                                    <label for="female"><span class="female"></span>Female</label>
                                </div>
                            </div>
                            <ul class="member-info">
                                <li class="fieldWrapper" id="person_name">
                                        
                                        <div id="name_feild" class="formInput">
                                        <input type="text" class="fullWidht txtName" maxlength="90" >
                                            
                                            <label class="feildLable" >Enter full name</label>
                                        </div>
                                        <div class="err"></div>
                                        
                                </li>
                                <li class="registration_check fieldWrapper" id="registration_check">
                                            <div class="formInput round">
                                                <div class="countybox"></div>
                                                <div class="search-flag" id="search-flag">
                                                    <div class="searchico"></div>
                                                    <div class="cityClose"></div>
                                                    <input type="text" max-length="3" placeholder="Search Country or Code" />
                                                </div>
                                                <input type="tel" autocomplete="off" class="fullWidht input_box mobNumber" id="name5"  minlength="10" maxlength="10" data-country-std-code="91" pattern="[0-9]*"  inputmode="numeric">
                                                <label class="feildLable mobN" for="travelmobile">Enter mobile number</label>
                                            </div>
                                            <div class="err"></div>
                                </li>
                                
                                
                            </ul>
                            <div class="button-wrapper">
                                <span class="back-button">Previous step</span>
                                <div class="button btnHealthStep4" data-step="4" data-step-button="4" id="btnHealthStep4">Continue</div>
                            <button class="hide button" id="loadingDivStep4">Continue <span class="loader_btn"></span></button>
                            </div>
                            
                        </div>
                    
                        <div class="health-insurance-step-5 field_wrapper_ped hide" id="step_5">
                        <p class="label_ques">Do you have an existing illness or medical history?</p>
                                                <p class="label">This helps us find plans that cover your condition and avoid claim rejection</p>
                                                <div class="radio_box_wrapper ped_cat">
                                                 <!--<div class="radio_box_inner">
                                                    <input type="checkbox" name="ped_cat" id="ped_cat_1" class="input-checkbox" value="1" data-title="Existing illness">
                                                    <label for="ped_cat_1">
                                                        <div class="chkbox"></div>
                                                        Existing illness <span>Blood pressure, Diabetes, Heart conditions, Asthma, Thyroid, Cancer etc.</span></label>
                                                </div>
                                                <div class="radio_box_inner">
                                                    <input type="checkbox" name="ped_cat" id="ped_cat_2" class="input-checkbox" value="2" data-title="Covid 19">
                                                    <label for="ped_cat_2"><div class="chkbox"></div>Covid 19 <span>Tested positive for Covid-19</span></label>
                                                </div>
                                                <div class="radio_box_inner">
                                                    <input type="checkbox" name="ped_cat" id="ped_cat_3" class="input-checkbox" value="3" data-title="Surgical procedure">
                                                    <label for="ped_cat_3"><div class="chkbox"></div>Surgical procedure <span>Appendix, Gall bladder, C-section etc.</span></label></div>
                                                <div class="radio_box_inner"><input type="checkbox" name="noneOfThese" id="ped_last" class="input-checkbox"><label for="ped_last"><div class="chkbox"></div>None of these</label></div>-->
                                                </div>
                                                <div class="err err_ped" style="display:none;"></div>
                                                <div class="button-wrapper">
                                                    <button class="button" id="btnHealthStep5" data-step="5">View Plans</button>
                                                    <button class="button hide" id="loadingDivStep5">View Plans <span class="loader_btn"></span></button>
                                                </div>
                                                <div class="form-whatsapp">
                                                    <i class="icon"></i>
                                                    Get updates on WhatsApp 
                                                    <label class="switch slBtn">
                                                    <input type="checkbox" value="1" checked="true"> <span class="slider round"></span>
                                                    </label>
                                             </div>
                        </div>
                        
                        
                        <!-- PED STEPS Starts 2-->
                        <div class="health-insurance-step-6 field_wrapper_ped hide" id="step_6">
                                                <p class="label_ques">What is your existing illness?</p>
                                                <p class="label">Select all that apply</p>
                                                <div class="radio_box_wrapper ped_detail">
                                                    
                                                </div>
                                                <div class="err err_ped" style="display:none;"></div>
                    
                                                <div class="button-wrapper">
                                                <span class="back-button">Previous step</span>
                                              <button class="button" id="btnHealthStep6">Continue</button>
                                                <button class="button hide" id="loadingDivStep6" style="display: none;">View Plans <span class="loader_btn"></span></button>
                                                </div>
                    
                                               
                                                </div>
                                             <!-- PED STEPS Ends 2 -->
                    
                    
                                              <!-- PED STEPS Starts 3-->
                                                <div class="health-insurance-step-7 field_wrapper_ped hide"  id="step_7">
                                                <p class="label_ques">When did you recover from Covid-19?</p>
                                                <p class="label">Some plans are available only after a certain time</p>
                                                    <div class="radio_box_wrapper corona_details">
                                                        
                                                    </div>
                    
                                                    <div class="err err_ped" style="display:none;"></div>
                                                    <div class="button-wrapper">
                                                        <span class="back-button">Previous step</span>
                                                        <button class="button" id="btnHealthStep7">View Plans</button>
                                                        <button class="button hide" id="loadingDivStep7">View Plans <span class="loader_btn"></span></button>
                                                    </div>
                    
                    
                    
                                                </div>
                                                   
                                              <!-- PED STEPS Ends 3 -->
                                              <!-- for mobile -->
                                            
                                          
                    </div>

                </div>
            </div>

            <div class="valid-mobile-number-popup-box">
                <div class="valid-mobile-number-popup-container">
                    <div class="valid-mobile-number-popup-heading">
                        <div class="heading">Advantages of<br>entering a valid number</div>
                        <div class="image"><img src="https://static.pbcdn.in/cdn/images/bu/health/valid-mobile-number-popup.png"  width="92" height="86"></div>
                    </div>
                    <div class="valid-mobile-number-popup-content">
                        <div class="content">You save time, money and effort,<br>Our experts will help you choose the right plan in less than 20 minutes & save you upto 80% on your premium</div>
                        <div class="buttons">
                            <button class="no-bg continue-with-number">Continue with this number ›</button>
                            <button class="with-bg reset-mobile-number">Enter correct number</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
	                gaEvent('H_Form_Step1_New','FormStep1Viewed','',true,'');
                });
            </script>
        </div>       
        
    </div><!-- policybazaar -->

    <!-- no breadcrumb list added  -->

    <!-- Main content -->
    <div class="grid contentWrapper">

        <!-- Left Content -->
        <div class="leftSection contentStyles">
            <section class="disContnet contentStyles">
                <script type="text/javascript">
                    $(document).ready(function(){try{$("div").hasClass("healthInsurancePlanSlides")&&$(".healthInsurancePlanSlides").slick({dots:!1,slidesToShow:2,infinite:!1,slidesToScroll:1,lazyLoad:"ondemand",responsive:[{breakpoint:1024,settings:{slidesToShow:2,slidesToScroll:1,infinite:!0,variableWidth:!0,autoplay:!1}},{breakpoint:770,settings:{slidesToShow:2,slidesToScroll:1,autoplay:!1}},{breakpoint:482,settings:{slidesToShow:1,slidesToScroll:1,autoplay:!1,arrow:!1}}]})}catch(s){}});
                </script>

                <!-- Quick Links -->
                <div class="table-of-content-section health">
                    <div class="table-of-contents">
                        <div class="table-of-content-head">
                            <p class="paragraphBu"><img src="https://static.pbcdn.in/cdn/images/bu/table-of-content-icon.png" alt="" width="22" height="13"><strong>Quick Links</strong></p>
                        </div>
                
                        <div class="table-of-content-body">
                            <div class="ul">
                                <div class="li"><a href="#health-insurance-benefits-heading">Benefits of Buying Health Insurance Online</a></div>
                                <div class="li"><a href="#why-health-insurance">Reasons to Buy a Health Insurance Plan</a></div>
                                <div class="li"><a href="#health-insurance-key-benefits-heading">Key Benefits of Health Insurance Plans</a></div>
                                <div class="li"><a href="#best-health-insurance-plans-heading">Best Health Insurance Plans in India</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- What is Health Insurance? -->
                <div class="block_content_wrapper">
                    <h2 class="yellow-line-heading" id="what-is-health-insurance-heading">Loading Heading...</h2>
                    <p id="what-is-health-insurance-description">Loading Description...</p>
                </div>

                <!-- Health Insurance at a Glance -->
                <div class="block_content_wrapper">
                    <h2 class="yellow-line-heading" id="health-insurance-at-glance-heading">Loading Heading...</h2>
                    <div style="overflow:auto">
                        <table style="width: 100%;">
                            <tbody id="health-insurance-at-glance-table-body">
                                <!-- Table rows will be dynamically generated here -->
                            </tbody>
                        </table>
                    </div>
                    <p><em>*<span style="font-size: 8pt;">Pre-existing diseases are covered after the waiting period is over.</span></em></p>
                </div>

                <!-- Benefits of Buying Health Insurance Plans Online -->
                <div class="block_content_wrapper">
                    <h2 class="yellow-line-heading" id="health-insurance-benefits-heading">Loading Heading...</h2>
                    <p id="health-insurance-benefits-description">Loading Description...</p>
                    <div class="show-more-less-content">
                        <ul class="data-lisitng" id="health-insurance-benefits-list">
                            <!-- List items will be dynamically generated here -->
                        </ul>
                    </div>
                </div>

                <!-- Top Reasons to Buy a Health Insurance Plan -->
                <div class="block_content_wrapper">
                    <h2 class="yellow-line-heading" id="why-health-insurance">Loading Heading...</h2>
                    <p id="health-insurance-reasons-description">Loading Descriptions...</p>
                    <div class="show-more-less-content">
                        <ul class="data-lisitng" id="health-insurance-reasons-list">
                            <!-- List items will be dynamically generated here -->
                        </ul>
                    </div>
                </div>

                <!-- Key Benefits of Health Insurance Plans in India -->
                <div class="block_content_wrapper">
                    <h2 class="yellow-line-heading" id="health-insurance-key-benefits-heading">Loading Heading...</h2>
                    <p id="health-insurance-key-benefits-description">Loading Description...</p>
                    <p class="paragraphBu imgBu"><img style="float: right; margin: 0px; padding: 25px 0px;" title="Health Insurance Benefits" src="https://www.westernsouthern.com/-/media/images/wsfg/9-reasons-why-life-insurance-is-important-for-your-loved-ones-sm.png?rev=79a488944181457da5a92bdb6ecbd508&hash=AB220D0304688D7BD080957ACC42179A14EA0BD9" alt="benefits of health insurance plans" loading="lazy" width="300" height="350"></p>
                    <div class="show-more-less-content">
                        <ul class="data-lisitng" id="health-insurance-key-list">
                            <!-- List items will be dynamically generated here -->
                        </ul>
                    </div>
                </div>

                <div class="one-crore-widget health">
                    <div class="one-crore-widget-body"><h2 class="heading">Choose Health Insurance Coverage of Your Choice</h2><div class="content"><a href="https://www.policybazaar.com/health-insurance/filter/health-insurance+1-lakh-sum-insured/" class="link colored purple track-click-event" data-category="Sum Insured Widget" data-action="click" data-title="1 Lakh Health Insurance" target="_blank"> 
                                <div class="values">
                                    <div>
                                        <span class="value">1</span>
                                        <span class="unit">Lakh</span>
                                    </div>
                                    <span class="product">Health Insurance</span>
                                </div>
                            </a><a href="" class="link blue purple-mobile track-click-event" data-category="Sum Insured Widget" data-action="click" data-title="2 Lakh Health Insurance" target="_blank"> 
                                <div class="values">
                                    <div>
                                        <span class="value">2</span>
                                        <span class="unit">Lakh</span>
                                    </div>
                                    <span class="product">Health Insurance</span>
                                </div>
                            </a><a href="" class="link colored green green-mobile track-click-event" data-category="Sum Insured Widget" data-action="click" data-title="3 Lakh Health Insurance" target="_blank"> 
                                <div class="values">
                                    <div>
                                        <span class="value">3</span>
                                        <span class="unit">Lakh</span>
                                    </div>
                                    <span class="product">Health Insurance</span>
                                </div>
                            </a><a href="" class="link green green-bg-mobile track-click-event" data-category="Sum Insured Widget" data-action="click" data-title="5 Lakh Health Insurance" target="_blank"> 
                                <div class="values">
                                    <div>
                                        <span class="value">5</span>
                                        <span class="unit">Lakh</span>
                                    </div>
                                    <span class="product">Health Insurance</span>
                                </div>
                            </a><a href="" class="link colored purple blue-bg-mobile track-click-event" data-category="Sum Insured Widget" data-action="click" data-title="10 Lakh Health Insurance" target="_blank"> 
                                <div class="values">
                                    <div>
                                        <span class="value">10</span>
                                        <span class="unit">Lakh</span>
                                    </div>
                                    <span class="product">Health Insurance</span>
                                </div>
                            </a><a href="" class="link blue blue-mobile track-click-event" data-category="Sum Insured Widget" data-action="click" data-title="20 Lakh Health Insurance" target="_blank"> 
                                <div class="values">
                                    <div>
                                        <span class="value">20</span>
                                        <span class="unit">Lakh</span>
                                    </div>
                                    <span class="product">Health Insurance</span>
                                </div>
                            </a><a href="" class="more-content hide link colored purple purple-mobile track-click-event" data-category="Sum Insured Widget" data-action="click" data-title="30 Lakh Health Insurance" target="_blank"> 
                                <div class="values">
                                    <div>
                                        <span class="value">30</span>
                                        <span class="unit">Lakh</span>
                                    </div>
                                    <span class="product">Health Insurance</span>
                                </div>
                            </a><a href="" class="more-content hide link blue purple-bg-mobile track-click-event" data-category="Sum Insured Widget" data-action="click" data-title="50 Lakh Health Insurance" target="_blank"> 
                                <div class="values">
                                    <div>
                                        <span class="value">50</span>
                                        <span class="unit">Lakh</span>
                                    </div>
                                    <span class="product">Health Insurance</span>
                                </div>
                            </a><a href="" class="more-content hide link colored green green--bg-mobile track-click-event" data-category="Sum Insured Widget" data-action="click" data-title="1 Crore Health Insurance" target="_blank"> 
                                <div class="values">
                                    <div>
                                        <span class="value">1</span>
                                        <span class="unit">Crore</span>
                                    </div>
                                    <span class="product">Health Insurance</span>
                                </div>
                            </a><a href="" class="more-content hide link  track-click-event" data-category="Sum Insured Widget" data-action="click" data-title="2 Crore Health Insurance" target="_blank"> 
                                <div class="values">
                                    <div>
                                        <span class="value">2</span>
                                        <span class="unit">Crore</span>
                                    </div>
                                    <span class="product">Health Insurance</span>
                                </div>
                            </a><div class="one-crore-show-more"><span>See More Plans</span></div></div>
                    </div>
                </div>

                <div class="age-group-plan calc_premium_widget">
                    <div class="age-group-wrapper">
                        <div class="age-group-heading">
                            Choose health plans for every age group
                        </div>
                        <div class="age-group-row">
                            <div class="age-group-col">
                                <div class="age-group-img-wrapper">
                                    <img src="https://static.pbcdn.in/cdn/images/bu/health/age-grop-image-2x.png" loading="lazy" alt="age group plan" class="img-fluid">
                                </div>
                            </div>
                            <div class="age-group-col">
                                <div class="age-group-plan-field">
                
                                    <div class="input-group form-floating custome-select">
                                        <select class="form-control custome-icon right form-select" name="member_age" id="member_age"><option style="display:none" value="">&nbsp;</option><option value="18">18 Years</option><option value="19">19 Years</option><option value="20">20 Years</option><option value="21" selected="">21 Years</option><option value="22">22 Years</option><option value="23">23 Years</option><option value="24">24 Years</option><option value="25">25 Years</option><option value="26">26 Years</option><option value="27">27 Years</option><option value="28">28 Years</option><option value="29">29 Years</option><option value="30">30 Years</option><option value="31">31 Years</option><option value="32">32 Years</option><option value="33">33 Years</option><option value="34">34 Years</option><option value="35">35 Years</option><option value="36">36 Years</option><option value="37">37 Years</option><option value="38">38 Years</option><option value="39">39 Years</option><option value="40">40 Years</option><option value="41">41 Years</option><option value="42">42 Years</option><option value="43">43 Years</option><option value="44">44 Years</option><option value="45">45 Years</option><option value="46">46 Years</option><option value="47">47 Years</option><option value="48">48 Years</option><option value="49">49 Years</option><option value="50">50 Years</option><option value="51">51 Years</option><option value="52">52 Years</option><option value="53">53 Years</option><option value="54">54 Years</option><option value="55">55 Years</option><option value="56">56 Years</option><option value="57">57 Years</option><option value="58">58 Years</option><option value="59">59 Years</option><option value="60">60 Years</option><option value="61">61 Years</option><option value="62">62 Years</option><option value="63">63 Years</option><option value="64">64 Years</option><option value="65">65 Years</option><option value="66">66 Years</option><option value="67">67 Years</option><option value="68">68 Years</option><option value="69">69 Years</option><option value="70">70 Years</option><option value="71">71 Years</option><option value="72">72 Years</option><option value="73">73 Years</option><option value="74">74 Years</option><option value="75">75 Years</option></select>
                                         <div class="symbol right"><span class="arrow down"></span></div>
                
                                        <div class="err"></div>
                                        <label class="member_age removed" for="floatingInput">Your age</label>
                                    </div>
                                </div>
                                <div class="age-group-plan-field">
                
                                    <div class="input-group form-floating custome-select">
                                        <select class="form-control custome-icon right add form-select" name="cover_amt" id="cover_amt">
                                            <option style="display:none">&nbsp;</option><!--mandate-->
                                            <option value="1">₹ 1 lacs</option>
                                            <option value="2">₹ 2 lacs</option>
                                            <option value="3">₹ 3 lacs</option>
                                            <option value="5" selected="">₹ 5 lacs</option>
                                            <option value="10">₹ 10 lacs</option>
                                            <option value="20">₹ 20 lacs</option>
                                            <option value="30">₹ 30 lacs</option>
                                            <option value="50">₹ 50 lacs</option>
                                            <option value="100">₹ 1 cr</option>
                                            <option value="200">₹ 2 cr</option>
                
                                        </select>
                                        <div class="symbol right"><span class="arrow down"></span></div>
                                        <div class="err"></div>
                                        <label class="cover_amt removed" for="floatingInput">Cover amount</label>
                                    </div>
                                </div>
                                <div class="age-group-plan-field">
                                    <span class="age-group-plan-btn form-control calc_premium_by_age">View plans</span>
                                </div>
                            </div>
                            <div class="age-group-col">
                                <div class="age-group-price-box">
                                    <div class="age-group-price-details">
                                        <div class="age-group-price-starting">Plans starting @</div>
                                        <div class="age-group-price-overall calc_premium_value"><span>₹ 295<small>/month*</small></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p><span style="font-size: 8pt;" class="top_disclaimer_calc">PS - The starting price is indicative and may vary basis additional details.</span></p>
                </div>

                <!-- Best Health Insurance Plans in India -->
                <div class="block_content_wrapper">
                    <h2 class="yellow-line-heading" id="best-health-insurance-plans-heading">Loading Heading...</h2>
                    <p id="best-health-insurance-plans-description">Loading Description...</p>
                    
                    <!-- add table and disclaimer -->
                    <div class="allinsurer">
                        <div style="overflow:auto">
                            <table style="width: 746.219px;">
                                <tbody id="health-insurance-best-plans-table">
                                    <!-- Table data will be added here dynamically -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <!-- Some Myths about Health Insurance -->
                <div class="block_content_wrapper">
                    <h2 class="yellow-line-heading" id="myths-about-health-insurance-heading">Loading Heading...</h2>
                    <p id="myths-about-health-insurance-description">Loading Description...</p>
                    <div class="faqsWrapper plan_section" id="faqsWrapper">
                        <ul class="data-lisitng" id="faqList">
                            <!-- FAQs will be dynamically added here -->
                        </ul>
                    </div>
                </div>

                <!-- How to Calculate Health Insurance Premium? -->
                <div class="block_content_wrapper">
                    <h2 class="yellow-line-heading" id="health-insurance-how-to-calculate-heading">Loading Heading...</h2>
                    <p id="health-insurance-how-to-calculate-description1">Loading Description...</p>
                    <p id="health-insurance-how-to-calculate-description2">Loading Description...</p>
                </div>

                <!-- Health Calculator Widgets / fix it -->
                <div class="healthCalcWidget"><div class="calculatorContainer healthCalc"> <h2 class="headingCalculator">Health insurance premium calculator </h2> <ul class="steps"> <li class="step active" id="step1" data-id="1"><span>1</span></li><li class="step" id="step2" data-id="2"><span>2</span></li><li class="step" id="step3" data-id="3"><span>3</span></li></ul><div class="content-steps"><div class="innerWrapCalculator cal_step_1" id="cal_step_1"><p class="headingFields">Select the city you are living in</p><div class="selectCalcBox select-city"> <input type="text" id="plan_filter_city" autocomplete="off" name="city" class="inputCityCalc" placeholder="Search cities"></div><div class="permanent-city-listing"><p class="label">Popular cities</p><div class="cities"><div class="city city_image" id="city_image_551" data-cityid="551" data-stateid="35" data-pincode="110001" data-value="Delhi(Delhi)"><img src="https://static.pbcdn.in/cdn/images/health/health-calculator-delhi.png" alt="" loading="lazy"><p>Delhi</p></div><div class="city city_image" data-cityid="555" id="city_image_555" data-stateid="36" data-pincode="122001" data-value="Gurgaon(NCR)"><img src="https://static.pbcdn.in/cdn/images/health/health-calculator-gurgaon.png" alt="" loading="lazy"><p>Gurgaon</p></div><div class="city city_image" data-cityid="302" id="city_image_302" data-stateid="20" data-pincode="400037" data-value="Mumbai(Maharashtra)"><img src="https://static.pbcdn.in/cdn/images/health/health-calculator-mumbai.png" alt="" loading="lazy"><p>Mumbai</p></div><div class="city city_image" data-cityid="207" id="city_image_207" data-stateid="16" data-pincode="560001" data-value="Bengaluru(Karnataka)"><img src="https://static.pbcdn.in/cdn/images/health/health-calculator-banglore.png" alt="" loading="lazy"><p>Bangalore</p></div><div class="city city_image" id="city_image_837" data-cityid="837" data-stateid="37" data-pincode="500001" data-value="Hyderabad(Telangana)"><img src="https://static.pbcdn.in/cdn/images/health/health-calculator-hyderabad.png" alt="" loading="lazy"><p>Hyderabad</p></div></div></div><div class="dynamic-city-listing"><div class="radio_pills calc_popular_city"><label><input type="radio" data-cityid="309" data-stateid="20" data-pincode="411019" value="Pune(Maharashtra)" name="popular_city" id="popular_city_309"> <span>Pune</span></label><label><input type="radio" data-cityid="316" data-stateid="20" data-pincode="421506" value="Thane(Maharashtra)" name="popular_city" id="popular_city_316"> <span>Thane</span></label><label><input type="radio" data-cityid="554" data-stateid="36" data-pincode="245101" value="Ghaziabad(NCR)" name="popular_city" id="popular_city_554"> <span>Ghaziabad</span></label><label><input type="radio" data-cityid="103" data-stateid="11" data-pincode="380001" value="Ahmedabad(Gujarat)" name="popular_city" id="popular_city_103"> <span>Ahmedabad</span></label><label><input type="radio" data-cityid="556" data-stateid="36" data-pincode="121001" value="Faridabad(NCR)" name="popular_city" id="popular_city_556"> <span>Faridabad</span></label></div></div><button class="buttonCalc calc_premium_step1">Continue<span class="loader_btn hide"></span></button> </div><div class="innerWrapCalculator cal_step_2 hide" id="cal_step_2"><p class="headingFields">Who would you like to insure</p><div class="radios-calculator"><label><input type="radio" value="1" name="group-member1" class="profile"><span><div class="people me"></div><em>Me</em> </span></label><label><input type="radio" value="2" name="group-member1" class="profile"><span><div class="people me-spouse"></div><em>Me + Spouse</em> </span></label><label><input type="radio" value="3" name="group-member1" class="profile"><span><div class="people me-spouse-child"></div><em>Me + Spouse &amp; 1 Child</em> </span></label><label><input type="radio" value="4" name="group-member1" class="profile"><span><div class="people me-spouse-children"></div><em>Me + Spouse &amp; 2 Children</em> </span></label><label><input type="radio" value="5" name="group-member1" class="profile"><span><div class="people parents"></div><em> Parents</em> </span></label><label><input type="radio" value="6" name="group-member1" class="profile"><span><div class="people senior-citizen"></div><em>Senior Citizens</em> </span></label></div><div class="boxCalcNumber"><div class="innerWrapCalculator box-sp-cover eldest_member_age hide"><p class="ageLabelCalc">Age of the Eldest Member</p><div class="selectCalcBox select-age"><select class="selectCover" id="eldest_member_age"></select> <div class="error-calc hide">Elder member and elder child gap should be 18 years or above</div></div></div><div class="innerWrapCalculator box-sp-cover eldest_child_age hide"><p class="ageLabelCalc">Age of the Eldest Child</p><div class="selectCalcBox select-age"><select class="selectCover" id="eldest_child_age"></select></div></div></div><div class="button-group"><button class="go-back-button buttonCalc" data-value="2">Go back</button><button class="buttonCalc calc_premium_step2">Continue<span class="loader_btn hide"></span></button> </div></div><div class="innerWrapCalculator cal_step_3 hide" id="cal_step_3"><p class="headingFields">Cover amount</p><p class="description">It is the maximum amount insurer will pay in case of claim</p><div class="coverAmountWrap"><div class="selectCalcBox mb-left coverSelect"><select class="selectCover labelshow cover_amount" name="cover-amount"><option value="">Recommended</option><option value="3">Below ₹ 3 Lakh</option><option value="5">₹ 3 - 5 Lakh</option><option value="10">₹ 6 - 10 Lakh</option><option value="20">₹ 10 - 20 Lakh</option><option value="99">₹ 20 Lakh+</option><option value="100">₹ 1 Crore</option></select><label for="cover-amount">Select cover amount</label></div></div><p class="label">Popular cover amount</p><div class="form-fields radio"><div class="form-input"><label class="radio-button checked">₹5 Lakh<span class="description extra">Decent cover for most medical needs</span><input type="radio" name="cover_amount" id="cover_amount_1" value="4"><span class="checkmark"></span></label></div><div class="form-input"><label class="radio-button">₹10 Lakh<span class="description extra">Good cover that protects you against rising medical expenses for the future</span><input type="radio" name="cover_amount" id="cover_amount_1" value="9"><span class="checkmark"></span></label></div></div><div class="button-group"><button class="go-back-button buttonCalc" data-value="3">Go back</button><button class="buttonCalc calc_premium"> Calculate <span class="loader_btn hide"></span></button></div></div></div></div><div class="floatingLeadFormWrapperCal" id="popupFormCal"> <div class="close-form-box"></div><div class="floatingLeadForm"><div class="quotesBoxWrapper"><div class="back-step-calc" data-group-type="self"> Back</div><div class="heading-main-calc"><span> Enter your personal details and</span> Get Premium, Coverage &amp; Benefits Instantly</div><div class="form_step_cal" id="step_cal"><div class="field_wrapper"><div class="label">I am a</div><div class="radios"><label><input type="radio" value="1" name="radio-group-gender21" checked="checked" class="radio-group-gender"><span><i class="gender icons-bu male"></i><em>Male</em></span></label><label><input type="radio" value="2" name="radio-group-gender21" class="radio-group-gender">  <span><i class="gender icons-bu female"></i><em>Female</em>  </span></label></div></div>  <div class="field_wrapper form-field-data"><p class="label">My name is</p><input type="text" class="input_box txtName input_right" maxlength="90" placeholder="Full Name"><div class="err"></div></div><div class="field_wrapper form-field-data"><p class="label">My number is</p><input type="tel" autocomplete="off" class="input_box mobNumber input_right" placeholder="10 - digit mobile number" minlength="10" maxlength="10" data-country-std-code="1"><div class="err"></div></div><button class="btn btnHealthStepCal" data-step="1">View all plans</button><button class="btn loadingDivStep1" style="display:none;">Loading <span class="loader_btn"></span></button></div></div></div></div></div>

                <!-- Which Factors Affect Health Insurance Premium? -->
                <div class="block_content_wrapper">
                    <h2 class="yellow-line-heading" id="factors-that-affects-health-insurance-heading">Loading Heading...</h2>
                    <p id="factors-that-affects-health-insurance-description">Loading Description...</p>
                    <div class="show-more-less-content">
                        <ul class="data-lisitng" id="health-insurance-factors-list">
                            <!-- List items will be dynamically generated here -->
                        </ul>
                    </div>
                    <p><a class="bannerhealthredirectnew btnViewQuotesNavBar"> <img title="Compare Health Insurance" src="https://www.policybazaar.com/images/banners/compare-health-insurance_desktop.png" data-title="compare-health-insurance" class="squareBanner hide-mobile" loading="lazy" width="100%" height="100%"> <img title="Compare Health Insurance" src="https://www.policybazaar.com/images/banners/compare-health-insurance_mobile.png" data-title="compare-health-insurance" class="squareBanner hide-desktop" loading="lazy" width="100%" height="100%"> </a></p>
                    <span style="font-size: 10pt;"><em>*All savings are provided by the insurer as per the IRDAI approved insurance plan. Standard T&amp;C apply.</em></span>
                </div>
                
            </section>
        </div>
        <!-- Left Content -->

        <!-- Right Section-->
        <div class="rightSection">

            <div class="mb-20 rhs-banner-right">
                <div class="promotional_banner_right">
                    <a href="javascript:void(0);" class="btnViewQuotesNavBar"><img alt="book-home-visit" width="100%" height="100%" data-category="Health nri Banner content" data-action="click" data-title="health-nri-banner" data-label="health-nri-banner" loading="lazy" src="https://static.pbcdn.in/cdn/images/health/nri-health-banner.jpg"></a>
                </div>
            </div>

            <div class="block_content_wrapper widgetMobile">
                <div class="askpbwidget">
                    <div class="askpb_heading widget v23">
                        <form name="askWidget" class="askWidget" action="" method="post">
                            <div class="askshieldwise_logo"><img src="/images/shieldwise-full.png" alt="shield-logo" width="150" height="55"></div>
                            <div class="heading heading_bold">Got a query about insurance?</div>
                            <div class="heading small">Simply ask us and we will find the best solution to your problem</div>
                            <div class="ask_search">
                                <div class="input-wrapper"> 
                                    <input name="askname" id="askname" class="askname" type="text" maxlength="50"><label for="askname">Your full name</label>
                                    <div class="error"></div>
                                </div>

                                <a href="javascript:void(0)" class="submit_button askcontinue">Continue</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="promotional_banner_right">
                    <a href="javascript:void(0);" class="btnViewQuotesNavBar">
                        <img src="/images/1-crore-health-insurance-plan.jpg" alt="1-crore-health-insurance-rhs" data-category="1cr RHS Banner" data-action="view plans" data-title="1cr-health-insurance" data-label="crsi" width="100%" height="100%" loading="lazy">
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="promotional_banner_right">
                    <a href="javascript:void(0);" class="btnViewQuotesNavBar">
                        <img src="/images/low-cost-annual-plans.jpg" alt="health-insurance-heart-patients-rhs" style="width: 100%" data-category="Heart Patients RHS Banner" data-action="view plans" data-title="Heart-Patients-Banner" width="100%" height="100%" loading="lazy">
                    </a>
                </div>
            </div>

            <script type="text/javascript">
                $(function() {
                        try{dataLayer.push({'event': 'includeyoutubejs'})}catch(e){}
                        var youtube_loaded = sessionStorage.getItem("youtube_loaded");
                        if(youtube_loaded != 1){
                        $('.lazyb').lazy({
                            // loads instantly
                            customLoaderName: function(element) {
                                element.load();
                            },
                
                            // embed a youtube video
                            youtubeLoader: function(element) {
                                var url = 'https://www.youtube.com/embed/',
                                    frame = $('<iframe />')
                
                                frame.attr('width', 634)
                                frame.attr('height', 357)
                                frame.attr('frameborder', 0)
                                frame.attr('allow', 'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture')
                                frame.attr('allowfullscreen', 1)
                                frame.attr('src', url + element.data("video"));
                
                                element.append(frame);//.load(url + element.data("video"));
                            },
                
                            // loads with a five seconds delay
                            asyncLoader: function(element) {
                                setTimeout(function() {
                                    element.load()
                                    
                                }, 100);
                            },
                
                            // always fail
                            errorLoader: function(element) {
                                element.error();
                            }
                        });
                        }
                    });
                
                    
            </script>

            <div class="card">
                <div class="promotional_banner_right">
                    <a href="javascript:void(0);" class="btnViewQuotesNavBar">
                        <img src="/images/be-safe-with-health.jpg" alt="health-insurance-heart-patients-rhs" data-category="Generic Health Insurance V1 RHS Banner" data-action="view plans" data-title="Generic-Health-Insurance-Banner" width="100%" height="100%" loading="lazy">
                    </a>
                </div>
            </div>

        </div>
        <!-- Right Section-->

    </div>

    <!-- for prequotes pop-up -->
    <div id="popup-slide" class="overlay">
        <div class="popup-slide">
            <div class="health-insurance-bu">
            </div>
        </div>
    </div>

    <div id="popup-slide-mobile" class="overlay"></div>
        
    <div class="installApp_banner hide">
        <div class="wrapper">
            <div class="bannerClose">Close</div>
        </div>
    </div>
        
    <script type="text/javascript" src="https://static.pbcdn.in/cdn/js/slick.min.js"></script>
    <!-- for prequotes pop-up -->

    <div class="clearfix"></div>
    <script type="text/javascript">    
        $(document).ready(function () {
            $(document).on('click','.storyImg',function(){
                var parentid = $(this).parents('.popular_article').attr('id');
                var url = $(this).next("div").find('a:first').attr('href');
                if(parentid != 'article-slide-news'){
                    window.top.location.href= url;
                }
                
            });
            $(document).on('click','.read_more_art_widget',function(){
                var url = $(this).parent('div').prev().find('a:first').attr('href');
                window.top.location.href= url;
            });
            var isMobile = false;
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                isMobile = true;
            }
            //console.log("p"+isMobile);
            if(window.location.href.indexOf("motor-insurance/two-wheeler-insurance/articles/how-to-check-e-challan-status-online/") > -1){
                if(!isMobile){
            reviewboxslidewidget();
                }
            }else{
                reviewboxslidewidget();
            }
            $(document).on('click','.boxclick',function(e){
                var parentid = $(this).parents('.popular_article').attr('id')+' ';
                $('#'+parentid +'.boxclick').removeClass('active');
                $(this).addClass('active');
                var tabid = $(this).attr('for');
                $('#'+parentid +'.popular_article_content-container .popular_article_widget').addClass('hide')
                $('#'+tabid+'c').removeClass('hide');
                if(window.location.href.indexOf("motor-insurance/two-wheeler-insurance/articles/how-to-check-e-challan-status-online/") > -1){
                    if(!isMobile){
                $('.reviewbox-slide-widget').slick('unslick');
                reviewboxslidewidget();
                    }
                }else{
                    $('.reviewbox-slide-widget').slick('unslick');
                    reviewboxslidewidget();
                }
        
                
                
            });
            function reviewboxslidewidget(){
            $('.reviewbox-slide-widget').slick({
                    dots: false,
                    arrow: true,
                    slidesToShow: 3,
                    infinite: true,
                    slidesToScroll: 1,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 1,
                                infinite: true,
                                //autoplay: true
                            }
                        },
                        {
                            breakpoint: 820,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1,
                                //autoplay: true
                            }
                        },
                        {
                            breakpoint: 570,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                arrow: false,
                                dots:true
                            }
                        }
        
                    ]
                });
            }
        });
    </script>

    <!-- Health Insurance News -->
    <div class="block_content_wrapper bottom-none">
        <div class="grid">
            <div class="popular_article health news animateShow" id="health-insurance-news">
                    <div class="popular_article_content-container">
                        <div class="popular_article_content skull">
                            <div class="block_content_wrapper">
                                <div class="makemodel newlayout" id="reviewslide">
                                    <div class="headingWrapper you_maylike_heading">
                                        <div class="h3">Health insurance News</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Health Insurance News -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <link href="https://static.pbcdn.in/cdn/css/bu/footer.css?v=586" rel="stylesheet">
    <div class="footer"></div>
    <div class="footer-section" id="common_footer">
        <div class="container">
        <div class="links-payment-social-section">
           <div class="link-section">
              <div class="links-detail insurance">
                 <p class="heading">Insurance</p>
                 <ul id="MainMenu">
                    <li class="dropdown-menu-footer">
                       <label>General Insurance</label>
                       <ul>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Car Insurance','');" href="https://www.policybazaar.com/motor-insurance/car-insurance/">Car Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Two-Wheeler Insurance','');" href="https://www.policybazaar.com/motor-insurance/two-wheeler-insurance/">Bike Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Motor Insurance','');" href="https://www.policybazaar.com/motor-insurance/">Motor Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Third Party Car Insurance','');" href="https://www.policybazaar.com/motor-insurance/third-party-insurance/">Third Party Car Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Third Party Bike Insurance','');" href="https://www.policybazaar.com/motor-insurance/third-party-two-wheeler-insurance/">Third Party Bike Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Travel Insurance','');" href="https://www.policybazaar.com/travel-insurance/">Travel Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Commercial Vehicle Insurance','');" href="https://www.policybazaar.com/motor-insurance/commercial-vehicle-insurance/">Commercial Vehicle Insurance</a></li>
                       </ul>
                    </li>
                    <li class="dropdown-menu-footer">
                       <label role="contentinfo" aria-label="Life Insurance">Life Insurance</label>
                       <ul>
                         <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Life Insurance','');" href="https://www.policybazaar.com/life-insurance/">Life Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Term Insurance Calculator','');" href="https://www.policybazaar.com/life-insurance/term-insurance-calculator/">Term Insurance Calculator </a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','1 Crore Term Insurance','');" href="https://www.policybazaar.com/life-insurance/term-insurance/1-crore-term-insurance/">1 Crore Term Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Term Return of Premium','');" href="https://www.policybazaar.com/life-insurance/term-insurance-return-of-premium/">Term Return of Premium</a></li>
                       <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Term Insurance for Housewife ','');" href="https://www.policybazaar.com/term-insurance/term-insurance-for-housewife/">Term Insurance for Housewife </a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click', 'non working spouse', '');" href="https://www.policybazaar.com/life-insurance/term-insurance/articles/spouse-term-insurance-plans-india/">Spouse Term Plan</a></li>
                         
                       </ul>
                    </li>
                    <li class="dropdown-menu-footer">
                       <label role="contentinfo" aria-label="Term Insurance">Term Insurance</label>
                       <ul>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Term Insurance','');" href="https://www.policybazaar.com/life-insurance/term-insurance/">Term Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Term Insurance For NRI','');" href="https://www.policybazaar.com/life-insurance/term-insurance/term-insurance-for-nri-in-india/">Term Insurance For NRI</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Best Term Insurance Plan','');" href="https://www.policybazaar.com/life-insurance/term-insurance/best-term-insurance-plans-in-india/">Best Term Insurance Plan</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Term Insurance for Women','');" href="https://www.policybazaar.com/term-insurance/term-insurance-for-women/">Term Insurance for Women</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','No Cost Term Insurance','');" href="https://www.policybazaar.com/term-insurance/zero-cost-term-insurance/">No Cost Term Insurance</a></li>
                         <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Term Insurance Glossary','');" href="https://www.policybazaar.com/term-insurance/term-insurance-terminology/">Term Insurance Glossary</a></li>
                       </ul>
                    </li>
                    <li class="dropdown-menu-footer">
                       <label role="contentinfo" aria-label="Investment Plan">Investment</label>
                       <ul>
                                               <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Investment Plans For NRI','');" href="https://www.policybazaar.com/life-insurance/investment-plans/articles/nri-investment-plans-in-india/">Investment Plans for NRIs</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Pension Plans','');" href="https://www.policybazaar.com/life-insurance/pension-plans/">Pension Plans for NRIs</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Guaranteed Return Plans','');" href="https://www.policybazaar.com/life-insurance/traditional-plan-india/">Guaranteed Return Plans for NRIs</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Child Plans','');" href="https://www.policybazaar.com/life-insurance/child-plans/">Child Plans for NRIs</a></li>
                                               <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Investment Plans','');" href="https://www.policybazaar.com/life-insurance/investment-plans/">Investment Plans with High Returns</a></li> 
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','ULIPs','');" href="https://www.policybazaar.com/life-insurance/ulip-plans/">ULIPs</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Money Back Policy','');" href="https://www.policybazaar.com/money-back-policy/">Money Back Policy</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Endowment Policy','');" href="https://www.policybazaar.com/endowment-policy/">Endowment Policy</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Tax Saving Plans','');" href="https://www.policybazaar.com/income-tax/tax-saving-investments/">Tax Saving Plans</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Saving Plan','');" href="https://www.policybazaar.com/life-insurance/investment-plans/articles/top-10-savings-plans/">Saving Plan</a></li>
                           <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Investment Funds','');" href="https://www.policybazaar.com/funds/">Investment Funds</a></li>
                           <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Income Tax Calculator','');" href="https://www.policybazaar.com/financial-tools-calculators/income-tax-calculator/">Income Tax Calculator</a></li>
                           <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','SIP Calculator','');" href="https://www.policybazaar.com/sip/calculator/">SIP Calculator</a></li>
                           <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','NPS calculator','');" href="https://www.policybazaar.com/life-insurance/pension-plans/nps-calculator/">NPS calculator</a></li>
                           <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','FD Calculator','');" href="https://www.policybazaar.com/fd-interest-rates/fd-calculator/">FD Calculator</a></li>
                                           </ul>
                    </li>
                    <li class="dropdown-menu-footer">
                       <label>Health Insurance</label>
                       <ul>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Health Insurance','');" href="https://www.policybazaar.com/health-insurance/health-insurance-india/">Health Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','1 Cr health cover','');" href="https://health.policybazaar.com/?offerid=26&amp;crsi=true&amp;utm_content=home_v10">1 Cr Health Cover</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Family Floater Mediclaim','');" href="https://www.policybazaar.com/health-insurance/family-health-insurance-plan/">Family Health Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Senior Citizen Health Insurance','');" href="https://www.policybazaar.com/health-insurance/senior-citizen-health-insurance/">Senior Citizen Health Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Coronavirus Insurance','');" href="https://www.policybazaar.com/health-insurance/coronavirus-health-insurance/">Coronavirus Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Corona Kavach Policy','');" href="https://www.policybazaar.com/health-insurance/corona-kavach-policy/">Corona Kavach Policy</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Corona Rakshak Policy','');" href="https://www.policybazaar.com/health-insurance/corona-rakshak-policy/">Corona Rakshak Policy</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Arogya Sanjeevani Policy','');" href="https://www.policybazaar.com/health-insurance/arogya-sanjeevani-policy/">Arogya Sanjeevani Policy</a></li>
                       </ul>
                    </li>
                    <li class="dropdown-menu-footer">
                       <label>Other Insurance</label>
                       <ul>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Group Mediclaim','');" href="https://www.policybazaar.com/commercial-insurance/group-health-insurance/">Group Health Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Cyber Insurance','');" href="https://www.policybazaar.com/commercial-insurance/cyber-insurance/">Cyber Insurance</a></li>
                           <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','D&amp;O Insurance','');" href="https://www.policybazaar.com/commercial-insurance/directors-and-officers-liability-insurance/">D&amp;O Insurance</a></li>
                            <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Workers Compensation','');" href="https://www.policybazaar.com/commercial-insurance/workmen-compensation-policy/">Workers Compensation</a></li>
                             <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Corporate Insurance','');" href="https://sme.policybazaar.com">Business Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Cancer Insurance','');" href="https://www.policybazaar.com/health-insurance/cancer-insurance/">Cancer Insurance</a></li>
                          <li><a onclick="javascript:GA360EventPageFooter('Footer_Click','Home Insurance','');" href="https://www.policybazaar.com/home-insurance/">Home Insurance</a></li>
                       </ul>
                    </li>
                 </ul>
              </div>
              <div class="links-detail resources">
                 <p class="heading">Resources</p>
                 <ul>
                    <li><a href="">Articles</a></li>
                    <li><a href="">Customer reviews</a></li>
                    <li><a href="">Insurance companies</a></li>
                    <li><a href="">Newsroom</a></li>
                    <li><a href="">Our investors</a></li>
                    <li><a href="">Awards</a></li>
                    <li><a href="">PB Life</a></li>
                 </ul>
              </div>
              <div class="links-detail company">
                 <p class="heading">Company</p>
                 <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Sitemap</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Contact us</a></li>
                 </ul>
              </div>
           </div>
           <div class="payment-section">
              <div>
                <p class="heading">Payment Methods</p>
                <ul class="modeofpayment">
                    <li class="footer-modeofpayment-icons visa"><img loading="lazy" src="https://static.pbcdn.in/cdn/images/career/footer/visa-icon.png" alt="visa" width="58" height="28"></li>
                    <li class="footer-modeofpayment-icons paytm"><img loading="lazy" src="https://static.pbcdn.in/cdn/images/career/footer/paytm-icon.png" alt="paytm" width="58" height="28"></li>
                    <li class="footer-modeofpayment-icons mastercard"><img loading="lazy" src="https://static.pbcdn.in/cdn/images/career/footer/master-card-icon.png" alt="master card" width="58" height="28"></li>
                </ul>
              </div>

              <div>
                 <p class="heading" tabindex="-1">Secured With</p>
              </div>
              <div class="follows">
                 <p class="heading">Follow us on</p>
              <ul class="social">
                 <li><a href="" target="_blank" rel="noreferrer" title="PolicyBazaar Facebook" class="footer-social-icons facebook"><img loading="lazy" src="https://static.pbcdn.in/cdn/images/career/footer/facebook-icon.png" alt="facebook" width="32" height="32"></a></li>
                 <li><a href="" target="_blank" rel="noreferrer" title="PolicyBazaar Twitter" class="footer-social-icons twitter"><img loading="lazy" src="https://static.pbcdn.in/cdn/images/career/footer/twitter-icon.png" alt="twitter" width="32" height="32"></a></li>
                 <li><a href="" target="_blank" rel="noreferrer" title="PolicyBazaar LinkedIn" class="footer-social-icons in"><img loading="lazy" src="https://static.pbcdn.in/cdn/images/career/footer/linkedin-icon.png" alt="linkedin" width="32" height="32"></a></li>
                 <li><a href="" target="_blank" rel="noreferrer" title="PolicyBazaar YouTube" class="footer-social-icons youtube"><img loading="lazy" src="https://static.pbcdn.in/cdn/images/career/footer/youtube-icon.png" alt="youtube" width="32" height="32"></a></li>
              </ul>
              </div>
           </div>
        </div>
        <div class="disclaimer-section">
            <p class="footer-disclaimer">Shieldwise Insurance Brokers Private Limited Email ID: kanishk@shieldwiseinsurance.com</p>
            <p class="footer-disclaimer">Visitors are hereby informed that their information submitted on the website may be shared with insurers.Product information is authentic and solely based on the information received from the insurers. </p>
            <p class="footer-disclaimer white" style="text-align:center">© Copyright 2008-2023 shieldwiseinsurance.com. All Rights Reserved.</p>
        </div>
        </div>
    </div>
    <!-- Footer -->

    <link rel="stylesheet" as="style" href="https://static.pbcdn.in/myaccount-cdn/css/Modal.css?v=586" onload="this.onload=null;this.rel='stylesheet'">
    <script src="https://static.pbcdn.in/myaccount-cdn/js/live/Modal.js?v=586" type="text/javascript" charset="utf-8" async="" defer=""></script>
    <link rel="stylesheet" href="https://static.pbcdn.in/cdn/css/sticky.css?v=586" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" type="text/css" href="https://static.pbcdn.in/cdn/css/sticky.css?v=586"
            async defer>
    </noscript>

    <script defer="" src="https://static.pbcdn.in/cdn/js/common-uncompress.min.js?v=571" type="text/javascript"></script>
    <link rel="stylesheet" href="https://static.pbcdn.in/cdn/css/sticky.css?v=571" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" type="text/css" href="https://static.pbcdn.in/cdn/css/sticky.css?v=571"
            async defer>
    </noscript>
    <!-- <div class="stickFooter_info health_bu_state " style="display: block;">    
    	
        <form name="frmHealth" autocomplete="off" onsubmit="return false;">
        
        <section class="health_footer_strip" id="footerStripHealthForm">
            <div class="container1 ">
                <div>
                    <div class="icons-bu footer-img"></div>
                </div>
                <div class="txt-footer hideThanks">
                    <p>Best health plan for you and your family.</p>
                    <span>Starting from <span class="font-big">₹ 200/month</span></span>
                </div>
                <div class="quotesButton hideThanks">
                    <a class="footer-btn btnViewQuotesNavBar" href="javascript:void(0)" data-utm-campaign="sticky_form" data-source="Sticky" data-pagename="health-insurance-india">View Plans</a>
                </div>
                
                <div class="call_button hideThanks">
                    <a href="javascript:void(0)" class="callnow fix_btn_ctc">callnow</a></div>
                
                <div class="thankbox">Thank You! We will get back to you soon.</div>
                 
                </div>
           
           <div class="close-st-footer strip_close"></div>
           <p class="tc">*All savings provided by insurers as per IRDAI approved insurance plan. Standard T&amp;C apply.</p>

        </section>
        </form>
        <noscript><img src="https://www.policybazaar.com/akam/13/pixel_77e6b42d?a=dD05ZDYyNGNiOWFjZWUyMjc2MzJhZTg3MDlkYWU2MWM5MTJmNDMwOGMxJmpzPW9mZg==" style="visibility: hidden; position: absolute; left: -999px; top: -999px;" /></noscript><script type="text/javascript" src="/_tugR9/91DdN/bUvbi/cGa5/EiOmk8tJktf7/CW89H103/dBpsbgp/2AnY"></script>

    </div> -->
    
    <script src="https://static.pbcdn.in/cdn/js/calculator/health.js?v=5"></script>
    <script type="text/javascript" id="">window.dataLayer=window.dataLayer||[];window.dataLayer.push({originalLocation:document.location.protocol+"//"+document.location.hostname+document.location.pathname+document.location.search});</script>
    <script type="text/javascript" id="" src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" id="">function datalayer(a,b,c,d,e,f){dataLayer.push({event:a,eventCategory:b,eventAction:c,eventLabel:d,eventValue:e,counterCM:f})}try{$(".pb-nav .nav li a").click(function(){datalayer("eventTracking","Inner Page Top Navigation Click","Top navigation",$(this).text().trim(),"",1)})}catch(a){};</script>
    <script src="https://static.pbcdn.in/cdn/js/jquery-ui.1.12.1.js"></script>
    <script src="/js/fetch-data.js"></script>


    
</body>
</html>